<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>指尖金融家-销售日报</title>
    <script src="../../js/common/FFA.js"></script>
    <script src="../../js/common/initRootFontSize.js"></script>
    <script src="../../js/external/modernizr-min.js"></script>
    <link rel="stylesheet" href="../../css/base/base.css" />
    <link rel="stylesheet" href="../../css/component/component.css" />
    <link rel="stylesheet" href="../../css/page/setting/daily_report.css"/>

</head>


<body>
<header class="header">
    <span class="header-btn header-left-btn icon-left-arrow js-report-back-btn"></span>
    <span class="header-title">销售日报</span>
</header>


<div class="content" style="margin-bottom: 70px">
    <div class="no-report">
        <img src="../../images/noContent.png">
        <p id="no-report-detail">暂未查到日报信息</p>
        <p>如有更新日报您将收到提示</p>
    </div>
    <!--滚动特效用-->
    <div id="report-whole-wrapper">
        <div id="report-whole-scroller">
            <ul class="report-whole-container" id="report-whole-container">
            </ul>
            <div id="pullDown" class='loading' style="display: none">
                <span class="pullDownIcon small-person-icon-gif"></span><span class="pullDownLabel">努力加载中...</span>
            </div>
            <div id="pullUp" style="display: none">
                <span class="pullUpIcon"></span><span class="pullUpLabel">上拉即可刷新</span>
            </div>
        </div>
    </div>

    <script type="text/template" id="reportTemplate">
        <!--一份整体日报-->
        <li class="entire-report" id="index-<%= reportData.id%>-report">
            <!--时间-->
            <p class="report-time"><%= reportData.createTime %></p>
            <!--日报-->
            <div class="box report">
                <div class="left-arrow"></div>
                <div class="box-con">
                    <p class="reportContent"><%= reportData.content %></p>
                </div>
                <!--备注-->
                <P class="Remark"><%= reportData.remark %></P>
            </div>
            <!--回复-->
            <div class="reply-list"></div>
            <!--点击回复按钮-->
            <button type="button" class="click-reply">点击回复本日报</button>
        </li>
    </script>

</div>
<!--编辑回复-->
<div class="reportReplyEdit-wrap">

    <textarea rows='1' class="reportReplyEdit-input" placeholder="1000字以内，重复回复将更新"></textarea>

    <button type="button" class="js-reportReply-send reportReply-send notAllow">发送</button>

</div>



<script src="../../js/external/zepto.min.js"></script>
<script src="../../cordova.js"></script>
<script src="../../js/common/net_connection.js"></script>
<script src="../../js/common/initRootFontSize.js"></script>
<script src="../../js/core/detect.js"></script>
<script src="../../js/external/autosize.js"></script>
<script src="../../js/external/iscroll.js"></script>
<script src="../../js/common/pull2refresh.js"></script>
<script type="text/javascript" src="../../js/external/jquery.qrcode.js"></script>
<script type="text/javascript" src="../../js/external/qrcode.js"></script>
<script type="text/javascript" src="../../js/common/hashmap.js"></script>
<script type="text/javascript" src="../../js/common/ajax_common.js"></script>
<script type="text/javascript" src="../../js/common/local_storage_utils.js"></script>
<script type="text/javascript" src="../../js/common/constant.js"></script>
<script src="../../js/external/fastclick.js"></script>
<script src="../../js/common/config.js"></script>
<script type="text/javascript" src="../../js/common/json_conversion.js"></script>
<script src="../../js/common/http_response.js"></script>
<script src="../../js/common/utils.js"></script>
<script src="../../js/external/underscore-min.js"></script>
<script src="../../js/common/main.js"></script>
<!--弹窗类-->
<script src="../../js/common/component/popup.js"></script>
<script src="../../js/common/component/input.js"></script>
<script src="../../js/common/component.js"></script>

<script src="../../js/page/setting/set_daily_report.js"></script>
<script src="../../js/common/offline.js"></script>
<script src="../../js/common/pause.js"></script>
<script src="../../js/common/resume.js"></script>
<script src="../../js/callback/http/check_version_callback.js"></script>


</body>
</html>