.share {
    position: absolute;
    bottom: 23.5%;
    right: 4.1%;
}
.share-alt {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
}
.share-opt {
    background: #444;
    opacity: 0.5;
}
.share-con {
    background: #fff;
    height: 35%;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.share-response{
    height: 65%;
    width: 100%;
    position: fixed;
}
.share-con ul {
    width: 100%;
    margin: 0 auto;

}
.share-con p {
    width: 78.12%;
    margin: 0 auto;
}
.share-con ul li {
    width: 25%;
    float: left;
    text-align: center;
}
.share-con ul li img {
    height: 30px;
    display: block;
    margin-top: 9.35%;
}
.share-con ul li p {
    width: 100%;
    font: .64rem "STHeitiSC Medium", "微软雅黑";
    color: #3d3d3d;
    margin-top: 12px;
    text-align: center;
}
.share-con p.share-qx {
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    height: 37px;
    line-height: 37px;
    font-size: 0.92rem;
    font-family: 微软雅黑;
    color: #ababab;
    border: 1px solid #c2c1c6;
    margin-top: 5%;
    border-radius: 7px;

}
.flt {
    width: 100%;
    float: left;
}
.show {
    display: block;
}
.marAuto {
    margin: 0 auto;
}