<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.service.strongservicelib"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:enabled="true" android:name="com.service.lib.Service1" android:process=":service1" android:exported="true">
            <intent-filter>
                <action android:name="com.service.lib.STARTSERVICE1"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:name="com.service.lib.Service2" android:process=":service2" android:exported="true">
            <intent-filter>
                <action android:name="com.service.lib.STARTSERVICE2"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.service.lib.ServiceAutoStart" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>